* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

ul {
    /*убираем верхнее и нижнее поле, равное 1em*/
    margin: 0;
    /*убираем левый отступ, равный 40px*/
    padding-left: 0;
    /*убираем маркеры списка*/
    list-style: none;
}

a {
    /*убираем подчеркивание текста ссылок*/
    text-decoration: none;
}


/****************************************************/


/* Делаем так, чтобы меню не ездило*/

@media screen and (min-width: 918px) {
    /* если окно браузера больше максимальной ширины сайта */
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
}


/****************************************************/


/* Размещение логотипа*/

header {
    font-family: 'Lora', serif;
    font-size: 24px;
    width: 918px;
    height: 100px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 50px;
    color: #fff;
    background: url(img/logo.jpg) no-repeat;
    background-size: 968px 150px;
}


/****************************************************/


/* Размещение теней меню*/

.menu-shadow {
    width: 968px;
    height: 72px;
    margin: 0 auto;
    background: url(img/menu-shadow.png) no-repeat;
    background-position: left bottom;
}

.menu-light-first {
    position: relative;
    top: -57px;
    width: 813px;
    height: 57px;
    pointer-events: none;
    background: url(img/menu-light-first.png) no-repeat;
    background-position: left bottom;
}

.menu-light-second {
    position: relative;
    top: -114px;
    left: 667px;
    width: 301px;
    height: 57px;
    pointer-events: none;
    background: url(img/menu-light-second.png) no-repeat;
    background-position: left bottom;
}


/****************************************************/


/* Размещение меню*/

.menu {
    width: 968px;
    height: 57px;
    margin: 0 auto;
    background: linear-gradient(0deg, #db9816 0%, #ecb03b 100%);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
}

.menu li {
    display: inline-block;
}

.menu li a {
    /*font-family: Myriad Pro;*/
    font-size: 16px;
    font-weight: 400;
    line-height: 57px;
    display: block;
    height: 57px;
    padding-right: 26px;
    padding-left: 25px;
    text-align: center;
    color: #7b4800;
    background: url(img/menu-line.png) no-repeat;
    background-position: left center;
    background-size: 2px, 36px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .36);
}

.menu li:first-child a {
    line-height: 57px;
    display: block;
    width: 40px;
    height: 57px;
    padding-right: 0;
    padding-left: 0;
    background: url(img/menu-button-home.png) no-repeat;
    background-position: 10px;
}

.menu li:first-child a:hover {
    background: url(img/menu-button-home-hover.png) no-repeat;
    background-position: 10px;
}

.menu li:hover a {
    color: #d97e53;
}


/****************************************************/


/* Слоган*/

.slogan {
    font-family: 'PT Serif', serif;
    font-size: 25px;
    font-weight: 400;
    width: 968px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    color: #63573a;
}

.slogan i {
    font-size: 15px;
}


/****************************************************/


/* Новости*/

.news {
    width: 913px;
    height: 380px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: rgba(221, 157, 26, .38);
}

.news-caption {
    font-family: 'Noto Serif', serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    height: 55px;
    margin: 0 auto;
    text-align: center;
    color: #63573a;
}

.trip-first {
    width: 304px;
    height: 370px;
    background: url(img/trip-first.jpg) no-repeat;
    background-position: top;
    background-size: 304px, 204px;
}

.trip-second {
    position: relative;
    top: -370px;
    left: 304px;
    width: 304px;
    height: 370px;
    background: url(img/trip-second.jpg) no-repeat;
    background-position: top;
    background-size: 304px, 204px;
}

.trip-third {
    position: relative;
    top: -740px;
    left: 608px;
    width: 304px;
    height: 370px;
    background: url(img/trip-third.jpg) no-repeat;
    background-position: top;
    background-size: 304px, 204px;
}

.trip-date {
    /*font-family: Century Gothic;*/
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 217px;
    left: 19px;
    width: 285px;
    text-align: left;
    color: #76715f;
}

.news a {
    /*font-family: Century Gothic;*/
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    position: relative;
    top: 230px;
    left: 17px;
    display: block;
    width: 250px;
    height: 41px;
    text-align: left;
    text-decoration: underline;
    color: #97632e;
}


/****************************************************/


/* Выравнивание футера*/

.content {
    /*Описание размеров: 150 - header; 72 - menu; 77 - footer*/
    min-height: calc(100vh - 150px - 72px - 77px);
    width: 968px;
    margin: 0 auto;
}

footer {
    font-family: 'Lora', serif;
    color: #97632d;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    width: 968px;
    height: 77px;
    margin: 0 auto;
    background: url(img/footer.png) no-repeat;
    background-position: center;
    background-size: 968px, 77px;
}

footer i {
    font-size: 15px;
}


/****************************************************/


/* Преамбула похода*/

.travel-name {
    font-family: 'PT Serif', serif;
    color: #635739;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.travel-preamble {
    font-family: 'PT Serif', serif;
    font-style: italic;
    color: #635739;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.travel-info {
    height: 80px;
}

.travel-info a {
    /*    font-family: 'Myriad Pro';*/
    color: #635739;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: underline;
}

.travel-text {
    /*    font-family: 'Myriad Pro';*/
    color: #635739;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 20px;
}

.travel-text h1 {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.travel-text p {
    text-indent: 20px;
    margin-bottom: 1em;
}

.travel-text a {
    color: #635739;
    text-decoration: underline;
}

.travel-photo {
    text-align: center;
}


/****************************************************/
